*.class
*.log
*.iml
.project
.classpath

target/
test-output/

.settclasspathings/
.settings/
.idea/
.DS_Store

jpostman-examples/src/test/resources/hello_world.png
social.png
jpostman-vault/src/test/resources/vault-local.properties
